/* Style for PetForm */

.pet-card {
    /* position: absolute; */
    /* right: 0;
    margin-top: 30px;
    margin-right: 10px; */
    width: 300px;
    height: 200px;
    text-align: center;
    background-color: lightblue ;
    border: 1px solid darkblue;
}

.pet-flex {
    display: flex;
    justify-content: center;
    margin: 5%;
}

.btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 8px 15px;
    height: 40px;
    width: 100px;
    /* margin-right: 8px; */
   
}

/* Style for buttons */

.default {
    border-color: darkgrey;
    color: grey;
}

.info {
    border-color: #2196F3;
    color: dodgerblue
}

.danger {
  border-color: #f44336;
  color: red
}

.info-create {
    border-color: #2196F3;
    background-color: dodgerblue;
    color: white;
}

/* Style for PetList */

.pet-name {
    margin-right: 30px;
    /* border: 1px solid black; */

    
}

.birth-date {
    text-align: left;
    padding-right: 10px;
}

.pet-list {
    /* width: 50%; */
    padding-top: 50px;
    text-align: left;
    white-space: nowrap;
}

.pet-list-container {
    margin-right: 10%;
}

.add-pet-btn {
    /* position: absolute; */
    right: 350px;
    display: flex; 
    justify-content: flex-end;
}

/* Styling for DiaryFormCard */

.diary-card {
    max-width: 600px;
    border: 1px solid black;

    text-align: center;
    width: 50%;
    white-space: nowrap;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
  
}

.pet-option {
    font-size: 15px;
    width: 300px;
    height: 40px;
    padding-left: 10px;
    margin-bottom: 10px;
}

.diary-form-container input {
    /* display: inline-block; */
    width: 400px;
    height: 45px;
    margin-bottom: 10px;

   
}

.diary-form-container label {
    /* display: inline-block; */
    font-size: 20px;
    width: 50px;
    text-align: right;

}

/* Styling for DiaryList */

.diary-list-container {
    /* spacing between add diary and diary box  */
    /* margin: top(px) right(px) bottom(px) left(px) */
    /* margin: 50px 0px 0px 100px;
    width: 40%; */
    /* width: 730px; */
    height: 200px;
}

.diary-container {
    margin-bottom: 30px;
    padding: 30px 30px 0px 30px;
    text-align: left;
    border: 1px solid black;
    height: 200px;
    width: 500px;
    
    
}

.diary-title {
    font-size: 30px;
    /* border: 1px solid black; */
    /* padding-top: 10px; */
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.published-date {
    /* padding: top(px) right(px) bottom(px) left(px) */
    /* margin-right: 50px;  */
    padding-top: 13px;
    /* border: 1px solid black; */
}

.add-diary-btn {
    /* border: 1px solid black; */
    display:flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.diaries-flex {
    display: flex;
    justify-content: space-between;
    margin: 5%;
}

.dairies-list-flex{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/* .center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
} */



