/* Home page  */

.home-container {
    /* display: flex;
    justify-content: center; */
    background: url("../styles/homePics.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    width: 100vw;
    /* height: 100vh; */
    height: 700px;
  
}

/* .home-container:before {
    opacity: 0.5;
    background: url("../styles/homePics.jpg");
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
} */

.home-description {
    /* margin: 30%; */
    margin: 40vh 25vw;
    width: 50%;
    position: fixed;
    text-align: center;
    color: indianred;
    font-size: x-large;
    /* border: 1px black solid; */
    /* width: 50vw; */
    background-color: rgb(255, 255, 255,0.6);
}

/* .bg-img {
    background: url("../styles/homePics.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */