nav ul {
    list-style: none;
    display: flex;
    background-color: darkred;
    margin-top: 10px;
  }

nav ul li {
    padding: 20px;
}

nav ul li a, .nav-header {
    color: white;
    text-decoration: none;
}

nav ul li a {
    font-size: 20px;
}

.nav-header {
    font-size: 25px;
    padding-top: 15px;
}

nav ul li a:hover {
    color: black;
}